@{
    ViewData["Title"] = "Home Page";
}


<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div class="text-center">
    <h1 class="display-4">Hoşgeldiniz</h1>
    <p>Anket ve soru eklemek için yukarıdaki menüyü kullanabilirsiniz.</a>.</p>
</div>

